@import 'theme-variables';
@import 'styles/print';

.form-main-content {
  section {
    h1 {
      margin-block-start: 0;
    }
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > :not(:first-child) {
    margin-top: 1rem;
  }
  .form-field {
    min-width: 20rem;
  }
}

/**
 * form-actions
 *
 * _______________________
 *                ________
 *               | Action |
 *                --------
 *
 */
.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 1rem;

  @include print-hide();
}

/**
 * form-group
 * For radio and checkbox
 */
.form-group {
  display: flex;
  flex-direction: column;

  padding-bottom: 1rem;

  &:hover {
    color: mat-color($grey, darker);
  }
  label {
    &.required {
      &::after {
        content: '*';

        color: mat-color($accent);
      }
    }
  }
  &:not(:hover) {
    label {
      color: $dark-primary-text;
    }
  }

  .form-option {
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  .form-group-hint {
    margin-top: 0.6em;

    padding: 0 1em;

    font-size: 75%;
    color: $dark-secondary-text;
  }
}

/**
 * form-input-option
 * An input, and next, a radio button
 *
 *  ____________
 * |            |  0 option 1  O option 2
 *  ------------
 *
 */
.form-input-option {
  display: flex;
  flex-direction: row;

  .form-group {
    margin-left: 2rem;
  }
}

.form-fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;

  padding-block-start: 1.5rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-end: 1rem;

  border: 1px solid mat-color($grey, lighter);
  border-radius: 0.3rem;

  legend {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }
}

.form-error {
  color: mat-color($error, 500);
}
.form-error-message {
  margin-top: 1rem;

  font-size: 0.75rem;
  color: mat-color($error, 500);
}
